*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: 'Luminari', sans-serif;
}
.container {
  width: 100%;
  max-width: 1380px;
  margin: 0 auto;
}
/* h1 {
  font-family: 'Source Sans Pro', sans-serif;
} */
